/* Importation du chemin du dossier */
@import 'variable.css';

/* NavBar */
.haut_de_page {
    display: none;
}

nav {
    background-color: var(--turquoise-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-nav);
    font-size: var(--nav-bar-police);
    height: var(--nav-ordi-height);
}

.nav-btn-container {
    display: none;
}

.nav-liens-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#menu-deroulant-jeux:checked ~ .menu-deroulant-container {
    height: auto;
    padding: var(--menu-deroulant-translate);
    border-top: var(--transparence) solid 2px;
}

.jeux-container .menu-deroulant-container {
    background-color: var(--turquoise-light);
    width: 250px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: var(--nav-ordi-height);
    transition: var(--nav-menu-der-transition);
}

.jeux-container .jeux-details:nth-child(2) {
    margin: calc(var(--menu-deroulant-translate) / 2) 0;
}

nav .nav-liens-container .nav-lien {
    margin-left: var(--margin-lien-nav);
}

#nav-btn-check, #menu-deroulant-jeux {
    display: none;
}

nav a, .nav-lien {
    text-decoration: none;
    color: var(--bleu-ciel);
}

nav .nav-logo-container a {
    font-family: 'Archivo Black', sans-serif;
}

nav .jeux-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jeux-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.jeux-container .icon-caret {
    margin-left: 15px;
    width: 13px;
    height: 6px;
    background-color: var(--blanc);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transition: var(--nav-menu-der-transition);
}

#menu-deroulant-jeux:checked ~ label > i.icon-caret {
    transform: rotate(180deg);
}
/* Fin navbar */

/* Page autre MMO */
#mmo body{
    text-size-adjust: 14px;
    font-weight: normal;
    color: var(--blanc);
    background-color:  #15202B;
	margin:auto;
	padding:auto;
    max-width: 1700px;

}



#mmo section{
    margin-top: 300px;
}

#mmo h1{
    text-size-adjust: 18px;
    clear: both;
}

#mmo article{
    margin-top:auto ;
    margin-bottom:auto;
    max-width: 700px;
    min-height: 40px;
    min-width: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    text-align: center;
    clear: both;
}

#mmo  #gauche{
	width:50%;
	float:left;	
	margin:0;
    margin-left: auto;
}

#mmo  #droite{
	float:right;
	width:50%;
	margin:0;
    margin-right: auto;  
}

#mmo img{
    height: 250px;
    width: 400px;  
}

#mmo .imgjg {
    float: left;
    margin: 15px 15px 15px 0px;
    padding-bottom: 40px;
    clear: right;
}

#mmo .imgjd {
    float: right;
    margin: 15px 0px 15px 15px;
    padding-bottom: 40px;
    clear: left;
}

#mmo .titre{
    display:block;
	margin-left:auto;
	margin-right:auto;
}

#mmo p{ 
    padding: auto ;
}

#mmo figure {
    display: table;  
}

#mmo figcaption {
    display: table-caption;
    caption-side: top;
}

#mmo .c{
    padding-top: 20%;
    margin-bottom: 50px;
}

#mmo .gc {
    padding-top: 10%;
    margin-bottom: 100px;
}
/* Fin page autre MMO */

body{
    color:var(--blanc);
}

/* Corps du site */
#wow h1{
    font-size: var(--size-ordi-titre);
}

#wow p{
    font-size: var(--size-ordi);
}

/* logo wow */
#wow header.logo-wow img{
    display: flex;
    justify-content: center;
    margin-top: var(--margin-ordi);
    margin-left:auto;
	margin-right:auto;
    width: 40%;
    height: auto;
}

/* Première section */
#wow div.titre-img-para{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

#wow div.titre-img-para div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28%;
}

#wow div.titre-img-para div h1{
    text-align: center;
}

#wow div.titre-img-para img {
    margin: var(--margin-ordi) 0;
    width: 100%;
    height: auto;
}

/* Deuxième section */
#wow div.img-para{
    margin-top: 20px;
}
#wow div.img-para div{
    display: flex;
    text-align: center;
}

#wow div.img-para img {
    margin: var(--margin-ordi);
}

#wow div.img-para p {
    margin: auto var(--margin-ordi);
}

#wow div.img-para div.titre-h1{
    display: flex;
    justify-content: center;
    margin-left:auto;
	margin-right:auto; 
}
/* Fin page wow */

/* Page Dofus*/
.SectionDofus{
    padding: var(--margin-ordi) 0;
    font-size: var(--size-ordi);
}

.dofus {
    display: flex;
    justify-content: center;
	margin-left:auto;
	margin-right:auto; 
}
.IntroDofus  {
    margin:  var(--margin-ordi);
}

.DofusClasse{
    margin:  var(--margin-ordi);
}

.dofusperso {
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
    height: auto;
}

.adofusobjets {
    display:flex;
    justify-content: center;
}

.objets {
    display: flex;
    justify-content: center;
    margin: var(--margin-ordi);
}

.objetstxt {
    margin: auto;
}

.graphiqueobjets {
    justify-content: center;
    margin: var(--margin-ordi);
    width: 50vw;
    height: auto;
}

.container-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.box-content {
    width: 45vw;
    height: 100%;
}

.swiper-container {
    overflow: hidden;
    width: var(--widthSlider);
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    box-sizing: content-box;/* cf developpez.net */
}


.swiper-wrapper-image {
    animation: slide-image 15s infinite;
}
.swiper-wrapper-text {
    animation: slide-text 15s infinite;
}

.swiper-slide {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Permet de ne pas rétrecir une div et de laisser la tailler que lui aura determiné */
    width: 100%;
    height: 100%;
}

.swiper-slide-image img {
    width: 65%;
    height: auto;
}

@keyframes slide-image {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(0);
    } 
    50% {
        transform: translateX(var(--widthTranslate));
    }
    90% {
        transform: translateX(var(--widthTranslate));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-text {
    0% {
        transform: translateX(var(--widthTranslate));
    }
    40% {
        transform: translateX(var(--widthTranslate));
    } 
    50% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--widthTranslate));
    }
}

#slide-1-text {
    font-size: var(--size-ordi);
}

#slide-2-text {
    font-size: var(--size-ordi);
}

.musiquesvariété {
    font-size: var(--size-ordi);
    margin: var(--margin-ordi);
}

.attention {
    display: flex;
    justify-content: center;
}

.container-audio-dofus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-audio-dofus .audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audiotxt {
    margin: var(--margin-ordi);

}

.audioretro1 { 
    margin: var(--margin-ordi);
}
.audioretro2 { 
    margin: var(--margin-ordi);
}

.humour {
    margin: var(--margin-ordi);
    font-size: var(--size-ordi);
}

.humourtxt {
    margin: var(--margin-ordi);
    font-size: var(--size-ordi);
}

.marrant {
    display: flex;
    justify-content: center;
}

.quetemarrant {
    margin: var(--margin-ordi);
    height: 20vw;
}

.photomarrant {
    margin: var(--margin-ordi);
    height: 20vw;
}

.nom {
    text-align: center;
    font-size: var(--size-ordi-titre);
}

.hrefmarrant {
    display:flex;
    justify-content: center;
}

.fini {
    margin: var(--margin-ordi);
    font-size: var(--size-ordi);
}

.Accueilpage {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Slogant {
    font-size: var(--size-ordi-slogant);
    margin: var(--margin-ordi-accueil);
}

.accrocheacceuil {
    font-size: var(--size-ordi-accroche);
    margin: var(--margin-ordi-accroche);
}

.imgaccueil {
    display: flex;
    justify-content: center;
	margin-left:auto;
	margin-right:auto;
    width: 45%;
    height: auto;
}
/*Fin page Dofus*/

/* Page Tencent */
#tencent body {
    font-size: var(--size-ordi);
}
#tencent .logotencent img {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-ordi);
    margin-left:auto;
	margin-right:auto;
    width: 20%;
    height: auto;
}

#tencent .sommaire{
    display: flex;
    margin: var(--margin-ordi);
    text-align: center;
}

#tencent .sommaire ul li a{
    text-decoration: none;
    color: var(--blanc);

}

#tencent .classement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-ordi);
}

#tencent .statista {
    text-align: center;
}

#tencent .statista a {
    text-decoration: none;
    color: var(--blanc);
}

#tencent h1 {
    text-align: center;
    margin: var(--margin-ordi);
}
#tencent h2 {
    text-align: center;
    margin: var(--margin-ordi);
}


#tencent p {
    text-align: center;
    margin: var(--margin-ordi);
}

#tencent .poli li {
    display: flex;
    justify-content: center;

}

#tencent .fi {
    color: var(--blanc);
    text-decoration: none;
}
/* Fin page Tencent */


/* Page contact */

#ctct body {
    font-size: var(--size-ordi-contact);
}

#ctct .contact {
    display: flex;
    justify-content: center;
    margin: var(--margin-ordi);
    font-size: var(--size-ordi-titre-contact);
}

#ctct .formall {

    display: flex;
    justify-content: center;
    margin: var(--margin-ordi);
}

#ctct form {
    border:black 2px solid;
    font-size: var(--size-ordi-contact);
}
#ctct .form1 {
    margin: var(--margin-ordi);
    text-align: center;
}

#ctct .form2 {
    margin: var(--margin-ordi);
    text-align: center;
}

#ctct .form3 {
    margin: var(--margin-ordi);
    text-align: center;
}

#ctct .form1 input {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--transparence);
    border: none;
    color: var(--blanc);
}

#ctct .form2 input {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--transparence);
    border: none;
    color: var(--blanc);
}

#ctct .form3 input {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--transparence);
    border: none;
    color: var(--blanc);
}

#ctct .envoyer {
    display: flex;
    justify-content: center;
    margin: var(--margin-ordi) auto;
    background-color: var(--turquoise-light);
    color: var(--blanc);
    border: none;
    font-size: var(--size-ordi-contact);
    padding: 0 10px;
}

#ctct .logoall{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctct .logotxt {
    text-align: center;
}

#ctct .logoréseaux {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    margin: var(--margin-ordi);
    align-items: center;
}

/* Fin page contact */
